---
layout: dummy_page
title: "The Research Institute Projects"
---

<div class="row">
    <div class="container">
        
        
        <section class="about col-sm-8" id="Active Projects">
            <div class="row">
                <div class="container">
                    <h3>Active Projects at Crow Canyon</h3>
                    
                    {% assign theList = site.data.projects_active | sort: 'date' %}
                    {% include_relative project_flow.html %}

                </div>
            </div>
        </section>
        
        <section class="about col-sm-8" id="Legacy Projects">
            <div class="row">
                <div class="container">
                    <hr>
                    <h3>Legacy Projects at Crow Canyon</h3>
                    
                    {% assign theList = site.data.projects_legacy | sort: 'date' %}
                    {% include_relative project_flow.html %}

                </div>
            </div>
        </section>
        
        
    
        <hr />
    </div>
</div>