{% for project in theList reversed %}
    <div class="row">
        <div class="col-xs-12">

            {% if project.url %}
                <h2 style="display: inline;">
                    <a href="{{ project.url }}">
                        {{ project.name }}
                    </a>
                </h2>
            {% else %}
                <h2 style="display: inline;">
                    {{ project.name }}
                </h2>
            {% endif %}
           <h3 style="font-size: 20px;" />
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="text-center">
                
                <img class="img-responsive img-rounded" src="./photos/{{project.tag}}.jpg">
                {% if project.caption %}
                    <br><p class="text-left" style="font-size: 16px;">{{ project.caption }}</p>
                {% endif %}
            </div>
        </div>
        
        <div class="hidden-lg hidden-md">&nbsp;</div>
        
        <div class="col-xs-12 col-md-8">
            <p>
                {% if project.date %}
                    <span class="label label-info">
                        <i class="fa fa-calendar-o"></i>
                        {{ project.date }}
                    </span>
                {% endif %}
            </p>
            {{ project.desc | markdownify }}
        </div>
    </div>
    
    <div class="clearfix"></div>

    {% unless forloop.last %}
        <div class="col-xs-12">
            <hr />
        </div>
    {% endunless %}

{% endfor %}