---
layout: dummy_page
title: "The Research Institute Community"
---
{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
            <img src="{{ site.url }}/assets/common-files/img/content/CCAC_logo.svg" alt="">
            <h3>People</h3>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>The Research Institute community is comprised of Crow Canyon <a href="#staff" title="Crow Canyon research staff">research staff</a>, <a href="#volunteers" title="Crow Canyon research volunteers">research volunteers</a>, and external <a href="#associates" title="Crow Canyon research associates">research associates</a>. Each play an integral role in the research, education, and American Indian initiatives of Crow Canyon. The Research Institute seeks to function "without walls"—we facilitate collaborations that transcend disciplinary and geographic boundaries. In particular, we are developing projects with academics, American Indian tribes, teachers and schools, and contract archaeologists.</p>

                <p>Have an idea for a <a href="{{ site.url }}/projects/">project</a>? We'd love to talk!</p>
            </div>
        </div>


    </div>
    <div class="full_fig"><img src="{{ site.url }}/assets/common-files/img/community/susan_bcp.png"></div>

    <!-- </section> -->
    <!-- Add co-devs here -->
    <div class="row">
        <div class="container">

            <section class="crew-3  col-sm-8" id="staff">
                <div class="row">
                    <div class="container">
                        <hr>

                        <h3>Research Staff</h3>
                        <p>Crow Canyon staff—in the Archaeology, Education, American Indian Initiatives, and Cultural Explorations departments—are the core research team at the Institute, while also being devoted educators and curators of the archaeological past. Through educational programs and collaborations with American Indians, our staff invites the public to collaborate in Interested in joining the Crow Canyon team? Check out our <a href="http://www.crowcanyon.org/index.php/jobs">current job openings</a>!</p>
                        <br>
                        <br>

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <a href="http://bocinsky.io" target="_blank">
                                            <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/kyle_bocinsky.jpg);">
                                                <img src="{{ site.url }}/assets/common-files/img/community/kyle_bocinsky.jpg" alt="" style="display: none;">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <div class="name"><a href="http://bocinsky.io" target="_blank">Kyle Bocinsky</a></div>
                                        <div class="title">Director of Sponsored Projects</div>
                                        Kyle is a computational archaeologist interested in human-environment interactions in the past, present, and future.
                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/david_boyle.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/david_boyle.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">David Boyle</div>
                                        <div class="title">Explorations Coordinator</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/kate_cochran.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/kate_cochran.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Kate Cochran</div>
                                        <div class="title">Archaeology Laboratory Assistant</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/grant_coffey.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/grant_coffey.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Grant Coffey</div>
                                        <div class="title">Supervisory Archaeologist</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/anna_cole.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/anna_cole.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Anna Cole</div>
                                        <div class="title">Curriculum Developer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/steve_copeland.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/steve_copeland.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Steve Copeland</div>
                                        <div class="title">Field Archaeologist</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/shanna_diederichs.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/shanna_diederichs.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Shanna Diederichs</div>
                                        <div class="title">Supervisory Archaeologist</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/paul_ermigiotti.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/paul_ermigiotti.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Paul Ermigiotti</div>
                                        <div class="title">Educator</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/deborah_gangloff.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/deborah_gangloff.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Deborah Gangloff</div>
                                        <div class="title">President and Chief Executive Officer</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/rebecca_hammond.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/rebecca_hammond.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Rebecca Hammond</div>
                                        <div class="title">Educator/American Indian Initiatives Coordinator</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/tyson_hughes.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/tyson_hughes.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Tyson Hughes</div>
                                        <div class="title">Educator</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/todd_kearns.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/todd_kearns.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Todd Kearns</div>
                                        <div class="title">Explorations Coordinator</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/kristin_kuckelman.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/kristin_kuckelman.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Kristin Kuckelman</div>
                                        <div class="title">Research Publications Manager</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/michael_lorusso.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/michael_lorusso.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Michael Lorusso</div>
                                        <div class="title">Laboratory Education Coordinator</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/jamie_merewether.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/jamie_merewether.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Jamie Merewether</div>
                                        <div class="title">Collections Manager</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/sharon_milholland.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/sharon_milholland.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Sharon Milholland</div>
                                        <div class="title">Director of Programs</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/sarah_payne.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/sarah_payne.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Sarah Payne</div>
                                        <div class="title">Director of Cultural Explorations</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/dottie_peacock.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/dottie_peacock.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Dottie Peacock</div>
                                        <div class="title">Explorations Coordinator (on-call)</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->
                        <!-- Begin three people -->
                        <div class="projects">


                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/shirley_powell.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/shirley_powell.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Shirley Powell</div>
                                        <div class="title">Vice President of Programs</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/alex_prime.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/alex_prime.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Alex Prime</div>
                                        <div class="title">Explorations Coordinator (on-call)</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/susan_ryan.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/susan_ryan.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Susan Ryan</div>
                                        <div class="title">Director of Archaeology</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->
                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/kari_schleher.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/kari_schleher.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Kari Schleher</div>
                                        <div class="title">Laboratory Manager</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/becca_simon.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/becca_simon.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Becca Simon</div>
                                        <div class="title">Field Archaeologist</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/dan_simplicio.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/dan_simplicio.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Dan Simplicio</div>
                                        <div class="title">Cultural Specialist</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->
                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/caitlin_sommer.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/caitlin_sommer.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Caitlin Sommer</div>
                                        <div class="title">Supervisory Archaeologist</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/kathleen_stemmler.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/kathleen_stemmler.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Kathleen Stemmler</div>
                                        <div class="title">Director of Education</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/kate_thompson.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/kate_thompson.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Kate Thompson</div>
                                        <div class="title">Explorations Coordinator</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->
                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/mark_varien.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/mark_varien.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Mark Varien</div>
                                        <div class="title">Executive Vice President of the Research Institute</div>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- end three people -->

                    </div>
                </div>
            </section>

            <section class="crew-3  col-sm-8" id="volunteers">
                <div class="row">
                    <div class="container">
                        <hr>

                        <h3>Research Volunteers</h3>
                        <p>Volunteers are crucial members of the Crow Canyon research team. From analyzing artifacts, to entering data, to leading site tours and cultural explorations, our research volunteers constantly challenge us to make archaeology at Crow Canyon <strong>relevant</strong> and <strong>accessible</strong>. Interested in becoming a lab, education, or cultural explorations volunteer? <a href="mailto:institute@crowcanyon.org" target="_top">Contact us</a>!</p>
                        <br>
                        <br>

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/bob_bernhart.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/bob_bernhart.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Bob Bernhart</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/jane_dillard.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/jane_dillard.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Jane Dillard</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/nancy_evans.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/nancy_evans.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Nancy Evans</div>
                                        <div class="title">Library/Explorations Volunteer</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/ed_grein.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/ed_grein.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Ed Grein</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/larry_keller.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/larry_keller.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Larry Keller</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/robin_lyle.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/robin_lyle.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Robin Lyle</div>
                                        <div class="title">Lab Volunteer/Research Associate</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/lew_matis.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/lew_matis.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Lew Matis</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/bob_mcbride.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/bob_mcbride.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Bob McBride</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/diane_mcbride.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/diane_mcbride.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Diane McBride</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->

                        <!-- Begin three people -->
                        <div class="projects">

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/david_melanson.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/david_melanson.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">David Melanson</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/susan_montgomery.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/susan_montgomery.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Susan Montgomery</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/mary_schultz.jpg);">
                                            <img src="{{ site.url }}/assets/common-files/img/community/mary_schultz.jpg" alt="" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="name">Mary Schultz</div>
                                        <div class="title">Lab Volunteer</div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end three people -->


                    </div>
                </div>
            </section>

            <section class="crew-3  col-sm-8" id="associates">
                <div class="row">
                    <div class="container">
                        <hr>

                        <h3>Research Associates</h3>
                        <p>Associates of the Research Institute at Crow Canyon are external researchers who are actively collaborating with Crow Canyon on specific <a href="{{ site.url }}/projects/">projects</a>. Many of our research associates have long-standing relationships with Crow Canyon, and provide crucial domain-specific expertise. Research associates are welcome to <a href="{{ site.url }}/about/#visit">visit Crow Canyon</a> to collaborate on specific projects, and may apply to be scholars-in-residence at the <a href="{{ site.url }}/about/#ranch">Research Institute Ranch</a> for extended periods. If you are interested in starting a new research collaboration with Crow Canyon researchers and becoming a research associate, please <a href="mailto:institute@crowcanyon.org" target="_top">contact us</a>!</p>
                        <br>
                        <br>


                        <!-- Begin three people -->
                        <div class="projects">

                        </div>
                        <!-- end three people -->


                        <!-- Begin three people -->
                        <div class="projects">


                        </div>
                        <!-- end three people -->

                    </div>
                </div>
            </section>
        </div>
    </div>

    {% include footer.html %}