<!-- Begin people -->
                    {% assign i = 0 %}
                    
                    <div class="projects">
                        
                        <!-- Begin loop -->
                        {% for person in theList %}
                        
                            {% assign i = i | plus: 1 %}
                        
                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="photo-wrapper">
                                        {% if person.url %}
                                            <a href="{{person.url}}" target="_blank">
                                        {% endif %}
                                                
                                            <div class="photo" style="background-image: url(./photos/{{person.tag}}.jpg);">
                                                <img src="./photos/{{person.tag}}.jpg" alt="" style="display: none;">
                                            </div>
                                        {% if person.url %}        
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="info">
                                        <div class="name">
                                            {% if person.url %}
                                                <a href="{{person.url}}" target="_blank">
                                            {% endif %}
                                                {{person.full_name}}
                                            {% if person.url %}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="title">{{person.title}}</div>
                                        {% if person.desc %}
                                            {{person.desc}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        
                            {% assign test = i | modulo: 3 %}

                            {% if test == 0 and person != site.data.staff.last %}
                        
                                </div>
                                <!-- end three people -->

                                <!-- Begin three people -->
                                <div class="projects">
                        
                            {% endif %}
                        
                        {% endfor %}
                    
                        {% if test == 1 %}
                        
                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="info">
                                    </div>
                                </div>
                            </div>
                    
                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="info">
                                    </div>
                                </div>
                            </div>
                    
                        {% endif %}

                        {% if test == 2 %}
                        
                            <div class="project-wrapper">
                                <div class="project">
                                    <div class="info">
                                    </div>
                                </div>
                            </div>
                    
                        {% endif %}
                        
                        </div>
                        <!-- End people -->