
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- FONTS  -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        
        <link rel="shortcut icon" href="{{ site.url }}/assets/common-files/img/content/Institute_logo_complete.svg">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml" />

        <link rel="stylesheet" href="{{ site.url }}/assets/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/flat-ui/css/flat-ui.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/common-files/css/icon-font.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/common-files/css/animations.css">
        <link rel="stylesheet" href="{{ site.url }}/static/css/style.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/ss-social/webfonts/ss-social.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/css/ss-standard/webfonts/ss-standard.css">
        <link rel="stylesheet" href="{{ site.url }}/static/css/github.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script type="text/javascript" src="//use.typekit.net/djn7rbd.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <!-- Remaining content below is cc-by -->
        <script src="{{ site.url }}/static/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <title>{{ page.title }}</title>


    </head>

    <body>

<div class="page-wrapper">

<header class="header-10">
{% include navbar.html %}
<div class="header-background"></div>
</header>
