<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- FONTS  -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="{{ site.url }}/assets/img/Institute_logo.svg">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml" />

    <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">

    <script src="{{ site.url }}/assets/js/jquery-2.2.2.min.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/assets/js/startup-kit.js"></script>

    <title>The Research Institute at Crow Canyon</title>

</head>