
<div class="container">
    <div class="row">

        <div class="navbar col-sm-12" role="navigation">
            <div class="navbar-header navlogo">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="{{ site.url }}/"><img src="/assets/common-files/img/content/Institute_logo_complete.svg" width="200"></a>
            </div>
            <div class="collapse navbar-collapse pull-right">
                <ul class="nav pull-left">

                    <li><a href="{{ site.url }}/about/">ABOUT</a></li>
                    <li><a href="{{ site.url }}/news/">NEWS</a></li>
                    <li><a href="{{ site.url }}/projects/">PROJECTS</a></li>
                    <li><a href="{{ site.url }}/people/">PEOPLE</a></li>
                    <li><a href="{{ site.url }}/donate/">DONATE</a></li>
                    <li><a href="mailto:institute@crowcanyon.org" target="_top">CONTACT</a></li>
                    <li><a href="https://www.crowcanyon.org">CROWCANYON.ORG</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
