---
layout: dummy_page
title: "About the Research Institute"
---

    <div class="container">

        <section class="about">
            <div class="row">

                    {% capture my_include %}{% include_relative mission.md %}{% endcapture %}
                    {{ my_include | markdownify }}
                
            </div>
        </section>

        <section class="about" id="leadership">
            <div class="row">
                    <hr>
                    <h3>Leadership</h3>
                    {% assign theList = site.data.leadership %}
                    {% include_relative people_flow.html %}
                
            </div>
        </section>

        <!--/.container-->
        <section class="about" id="advisors">
            <div class="row">
                    <hr>
                    <h3>Advisory Board</h3>
                    {% assign theList = site.data.advisory_board %}
                    {% include_relative people_flow.html %}
            </div>
        </section>
        
        <section class="about" id="ranch">
            <div class="row">
                    <hr>
                    {% capture my_include %}{% include_relative ranch.md %}{% endcapture %}
                    {{ my_include | markdownify }}
            </div>
        </section>



    </div>
