.dropdown-arrow-inverse {
    border-bottom-color: #34495e !important;
    border-top-color: #34495e !important;
}

body {
    color: #34495e;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.231;
    background-color: white;
    padding-top: 90px;
}

input,
button,
select,
textarea {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
}

a {
    /*color: #16a085;*/
    color: #2E8ECE;
    text-decoration: none;
    -webkit-transition: color 0.25s, background 0.25s;
    -moz-transition: color 0.25s, background 0.25s;
    -o-transition: color 0.25s, background 0.25s;
    transition: color 0.25s, background 0.25s;
}

a:hover {
    color: #1abc9c;
    text-decoration: none;
}

h1,
.h1 {
    font-size: 42px/* 64px */
    ;
}

h2,
.h2 {
    font-size: 37px/* 52px */
    ;
}

h3,
.h3 {
    font-size: 32px/* 40px */
    ;
}

h4,
.h4 {
    font-size: 23px/* 29px */
    ;
}

h5,
.h5 {
    font-size: 21px/* 28px */
    ;
}

h6,
.h6 {
    font-size: 19px/* 24px */
    ;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    line-height: 1.2em;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    margin-bottom: 2px;
}

h3 {
    font-weight: 700;
    margin-bottom: 4px;
    margin-top: 2px;
}

h4 {
    font-weight: 500;
    margin-top: 4px;
}

h5 {
    font-weight: 500;
}

h6 {
    font-weight: normal;
}

p {
    font-size: 20px;
    /* 18px */
    line-height: 1.722169;
    /* 31px */
    margin-bottom: 10px;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

dt { 
    display: block;
}

dd { 
    display: table;
    margin-left: 40px;
}

footer {
    background-color: white;
}

.col-sm-3 {
    width: 250px;
}

.input-append input {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

.bg-maize-teal {
    background-color: #32BEA6;
}

.bg-midnight-blue {
    background-color: #2c3e50;
}

.bg-clouds {
    background-color: #ecf0f1;
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    color: #7f8c8d;
    line-height: 1.29;
}

li {
    line-height: 30px;
    color: #2C3E50
}

.btn {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 22px;
    -webkit-transition: color 0.25s, background 0.25s;
    -moz-transition: color 0.25s, background 0.25s;
    -o-transition: color 0.25s, background 0.25s;
    transition: color 0.25s, background 0.25s;
}

.btn.btn-large {
    font-size: 17px;
    padding: 12px 18px;
}

.btn > [class^="fui-"] {
    margin-left: 4px;
    margin-right: 4px;
    line-height: inherit;
    display: inline-block;
    vertical-align: top;
}

.input-group-btn .btn {
    background: #bdc3c7;
    line-height: 9px 12px 10px;
    line-height: 22px;
    border: 0;
    margin: 0;
    color: #fff;
    margin-left: 0 !important;
    padding-left: 10px;
    padding-right: 12px;
}

.input-group-btn .btn:hover {
    background: #cacfd2;
}

label {
    line-height: 20px;
}

.carousel {
    line-height: 1;
}

.hero-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.page-wrapper {
    position: relative;
    z-index: 2;
    background: #fff;
    overflow: hidden;
    min-height: 100%;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
    -webkit-transform: translate3d(-230px, 0, 0);
    -moz-transform: translate3d(-230px, 0, 0);
    -o-transform: translate3d(-230px, 0, 0);
    transform: translate3d(-230px, 0, 0);
}

.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
    left: 0;
}

.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
    left: -230px !important;
    right: auto;
}

.carousel-indicators {
    width: 100%;
}

[class^="fui-"] {
    display: inline-block;
    vertical-align: middle;
}

body > section,
header,
footer {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    body > section,
    header,
    footer {
        padding-right: 5px;
        padding-left: 5px;
    }
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Vollkorn', serif;
    color: #2c3e50;
}

h1 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

img {
    -webkit-backface-visibility: hidden;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #7f8c8d;
}

a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
    outline: none;
}

section * {
    z-index: 2;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.container {
    position: relative;
    z-index: 2;
}

.navbar {
    background-color: white;
}

.navbar .nav > li {
    color: white;
}

.navbar .nav > li > a {
    color: black;
}

.navbar .brand {
    float: left;
}

.navbar-nav > li > a,
.navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0 !important;
    height: 90px;
    line-height: 90px;
    font-size: 80%;
    color: black;
}

.navbar {
    min-height: 90px !important;
}

.navbar button {
    line-height: 90px;
}

.navbar-brand {
    padding: 0px;
    /* firefox bug fix */
}

.navbar-brand > img {
    height: 100%;
    padding: 5px;
    /* firefox bug fix */
    width: auto;
}

.navbar-toggle {
    margin-top: 30px;
}

@media(max-width:1200px) {
    .navbar-nav > li > a {
        padding-top: 0px !important;
        padding-bottom: 0 !important;
        height: 30px;
        line-height: 30px;
    }
    .navbar {
        min-height: 30px !important;
    }
}

@media(max-width:600px) {
    .navbar-brand {
        padding-top: 0px !important;
        padding-bottom: 0 !important;
        height: 70px;
        line-height: 70px;
    }
    .navbar button {
        line-height: 70px;
    }
    .navbar-toggle {
        margin-top: 20px;
    }
    .navbar-nav > li > a {
        padding-top: 0px !important;
        padding-bottom: 0 !important;
        height: 30px;
        line-height: 30px;
    }
    .navbar {
        min-height: 30px !important;
    }
    body {
        padding-top: 70px;
    }
}

/**
 * Content 15 stylesheet
 * "Archaeology for the Twenty first century"
 * */

.content-1 {
    padding-top: 125px;
    padding-bottom: 130px;
    position: relative;
}

.content-1 h3 {
    margin-bottom: 68px;
    font-size: 42px;
    font-weight: normal;
    color: #2c3e50;
    font-family: 'Vollkorn', serif;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

@media (max-width: 767px) {
    .content-1 h3 {
        margin-bottom: 76px;
        font-size: 30px;
        font-weight: normal;
        color: #2c3e50;
        font-weight: 300;
        text-align: center;
    }
}

.content-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-1 p {
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    font-weight: normal;
    color: #7f8c8d;
}

.content-1 .features {
    margin-top: 120px;
}

.content-1 .features h6 {
    text-transform: none;
    margin: 60px 0 20px;
    font-size: 33px;
    font-weight: normal;
    color: #e74c3c;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
}

.content-1 .features h6:first-child {
    margin-top: auto;
}

@media (max-width: 767px) {
    .content-1 .features h6 {
        margin-bottom: 10px;
        margin-top: 40px;
        text-align: center;
    }
}

.content-1 .features p {
    font-size: 20px;
    font-weight: 300;
    color: #7f8c8d;
}

.content-1 .features .col-sm-7 img {
    width: 100%;
}

@media (max-width: 767px) {
    .content-1 .features .col-sm-7 {
        text-align: center;
        margin-bottom: 46px;
    }
}

@media (max-width: 767px) {
    .content-1 .features {
        margin-top: 76px;
    }
}


/**
 * Content 9 stylesheet
 * */

.content-2 {
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
}

.content-2 h3 {
    font-size: 40px;
    font-weight: 600;
    color: #2c3e50;
    font-family: 'Vollkorn', serif;
    margin-bottom: 24px;
    font-weight: 300;
}

.content-2 p {
    font-size: 20px;
    font-weight: normal;
    color: #7f8c8d;
    font-family: 'Vollkorn', serif;
    line-height: 30px;
}

.content-2 h6 {
    text-transform: none;
    font-size: 23px;
    font-weight: normal;
    color: #34495e;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
}

.content-2 .info {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    font-weight: normal;
    color: #7f8c8d;
    margin-top: 40px;
}

@media (max-width: 767px) {
    .content-2 .info {
        margin-top: 20px;
    }
}



.projects-* .pt-perspective {
    position: relative;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.projects-* .pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.projects-* .pt-page-current,
.projects-* .no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.projects-* .pt-page-ontop {
    z-index: 999;
}

.projects-* .v-center {
    display: table;
    width: 100%;
}

.projects-* .v-center > * {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    float: none;
}

@media (max-width: 767px) {
    .projects-* .v-center.row {
        display: block;
        width: auto;
    }
    .projects-* .v-center.row > * {
        display: block;
        vertical-align: baseline;
    }
}


/**
 * Project 3 stylesheet
 * */

.projects-3 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.projects-3 h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 80px;
    font-size: 40px;
    font-weight: 600;
    font-variant: normal;
    text-align: center;
}

.projects-3 .projects {
    display: table;
    width: 100%;
}

.projects-3 .projects + .projects {
    margin-top: 85px;
}

.projects-3 .projects .project-wrapper {
    display: table-cell;
}

.projects-3 .projects .project-wrapper:first-child + .project-wrapper {
    text-align: center;
}

.projects-3 .projects .project-wrapper:first-child + .project-wrapper + .project-wrapper {
    text-align: right;
}

.projects-3 .projects .project {
    width: 220px;
    display: inline-block;
    vertical-align: top;
}

.projects-3 .projects .photo-wrapper {
    width: 220px;
    height: 220px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ecf0f1;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.projects-3 .projects .photo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background: 50% 50% no-repeat;
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.projects-3 .projects .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: #1ABC9C;
    line-height: 220px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.projects-3 .projects .overlay [class*="fui-"] {
    font-size: 46px;
}

.projects-3 .projects .info {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    /*color: #95a5a6;*/
    color: #FCFCFC;
    margin-top: 43px;
}

.projects-3 .projects .info b {
    color: #7f8c8d;
}

.projects-3 .projects .name {
    /*color: #34495e;*/
    /*CHANGED THINGS*/
    color: #34495e;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.projects-3 .projects .project:hover .photo-wrapper {
    background-color: #ecf0f1;
}

.projects-3 .projects .project:hover .photo {
    opacity: 40;
    filter: alpha(opacity=4000);
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.projects-3 .projects .project:hover .overlay {
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
}

.projects-3 .projects .project:hover .name {
    /*color: #17A68B;*/
    color: #ecf0f1;
}

.projects-3 a {
    color: #1ABC9C;
}

@media (max-width: 767px) {
    .projects-3 .projects {
        display: block;
        width: auto;
    }
    .projects-3 .projects .project-wrapper {
        display: block;
        text-align: center!important;
    }
    .projects-3 .projects .project-wrapper + .project-wrapper {
        margin-top: 85px;
    }
}


.full_fig {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    padding-top: 40px;
    padding-bottom: 40px;
}

.full-img {
    position: relative;
    background-image: url('/assets/common-files/img/content/community.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
}

.full-img .holder.v-center,
.full-img .holder .v-center {
    display: table;
    width: 100%;
    height: 800px;
}

.full-img .holder.v-center > div,
.full-img .holder .v-center > div {
    display: table-cell;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
}

.full-img .hero-unit {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.full-img .hero-unit.hero-unit-bordered h1 {
    font-size: 46px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 400;
    border: 8px solid white;
    display: inline-block;
    margin: 0;
    padding: 30px 40px;
}

@media (max-width: 767px) {
    .full-img .hero-unit.hero-unit-bordered h1 {
        font-size: 28px;
    }
}

/**
 * Footer 6 stylesheet
 * */

.footer-1 {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #7f8c8d;
}

.footer-1 h6 {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: normal;
    font-variant: small-caps;
    color: #34495e;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-transform: none;
}

.footer-1 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: inherit;
}

.footer-1 nav ul li {
    margin-bottom: 8px;
}

.footer-1 nav ul li a {
    color: #7f8c8d;
}

.footer-1 nav ul li a:hover,
.footer-1 nav ul li a:focus {
    color: #1abc9c;
}

.footer-1 p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 100;
}


/**
 * Blog 3 stylesheet
 * */

.blog-3 {
    font-family: 'Vollkorn', serif;
    padding-top: 130px;
    padding-bottom: 130px;
}

.blog-3 p {
    font-family: 'Vollkorn', serif;
    color: #2C3E50;
    font-weight: 300;
    margin: 0;
}

.blog-3 p + p {
    margin-top: 30px;
}

.blog-3 h6 {
    font-size: 20px;
    /*CHANGED*/
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    margin: 0 0 25px;
    text-transform: none;
}

.blog-3 .title {
    margin-bottom: 30px;
    text-align: center;
}

.blog-3 .title h3 {
    font-size: 45px;
    font-family: 'Vollkorn', serif;
    margin: 0;
    font-weight: 300;
    letter-spacing: -1px;
}

.blog-3 .title h4 {
    font-size: 35px;
    font-family: 'Vollkorn', serif;
    margin: 0;
    font-weight: 300;
    letter-spacing: -1px;
    padding-top: 20px;
}

.blog-3 .title .submitted {
    font-size: 20px;
    color: #2C3E50;
    margin-top: 15px;
}

.blog-3 .title img {
    display: block;
    margin: 0 auto 37px;
    /*  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);*/
}

.blog-3 .img {
    height: 380px;
    margin: 110px 0;
    background: url('/assets/common-files/img.jpg') 50% 80% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 1200px) and (min-width: 768px) {
    .blog-3 .img {
        background-position-y: 100%;
    }
}

@media (max-width: 767px) {
    .blog-3 .img {
        margin-right: -20px;
        margin-left: -20px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.blog-3 .quote {
    position: relative;
    margin-bottom: 35px;
    font-size: 37px;
    line-height: 50px;
    font-family: 'Vollkorn', serif;
    color: #2c3e50;
    letter-spacing: -1px;
    font-weight: 300;
}

.blog-3 .quote:before {
    content: url('/assets/common-files/icons/quote-up.png');
    position: absolute;
    top: -17px;
    left: -40px;
}

@media (max-width: 767px) {
    .blog-3 .quote {
        margin-left: 40px;
        font-size: 29px;
        line-height: 38px;
    }
}

.blog-3 .promo {
    margin-bottom: 70px;
}

.blog-3 .links {
    margin-top: 76px;
}

.blog-3 .links,
.blog-3 .links * {
    font-size: 13px;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bdc3c7;
}

.blog-3 .links h6 {
    margin: 0 0 23px;
    letter-spacing: 0.19em;
    font-size: 12px;
    font-weight: 500;
}

.blog-3 .links a {
    /*color: #1abc9c;*/
    /*Changing the green to some other color*/
    color: #2E8ECE;
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.5;
}

.blog-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-3 .links a:hover,
.blog-3 .links a:focus,
.blog-3 .links a.active {
    color: #15967d;
}

.blog-3 h3 {
    font-family: 'Vollkorn', serif;
    font-size: 33px;
    padding-top: 50px;
    padding-bottom: 50px;
    /*text-align: center;*/
}

.blog-3 .sidebarr {
    padding-top: 80px;
}

.blog-3 li {
    color: #2C3E50;
    line-height: 150%;
}


/*This is for a regular page*/

.post {
    font-family: 'Vollkorn', serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.post h1 {
    font-family: 'Vollkorn', serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.post table {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    clear: both;
}

.post a {
    color: #2B86C2;
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    font-weight: 300;
}

.post td {
    color: #2C3E50;
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    font-weight: 300;
    text-transform: none;
    letter-spacing: normal;
}

.post th {
    color: #2C3E50;
    font-size: 22px;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
}

.post p {
    color: #2C3E50;
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    font-weight: 300;
    padding-top: 10px;
}


/*end regular page*/


/*The About Page*/


/**
 * stylesheet
 * */

.about p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 400;
    font-variant: normal;
    padding-bottom: 0px;
}

.about {
    padding-top: 25px;
    padding-bottom: 0px;
}

.about h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 25px;
    font-size: 35px;
    font-weight: 400;
    font-variant: normal;
}

.about li {
    font-family: 'Vollkorn', serif;
    font-size: inherit;
    color: #2C3E50;
    line-height: 1.5em;
}


/**
 * Project 3 stylesheet
 * */

.crew-3 p {
    padding-bottom: 10px;
}

.crew-3 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.crew-3 h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 25px;
    font-size: 40px;
    font-weight: 600;
    font-variant: normal;
}

.crew-3 p {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: 400;
    font-variant: normal;
}

.crew-3 .projects {
    display: table;
    width: 100%;
}

.crew-3 .projects + .projects {
    margin-top: 85px;
}

.crew-3 .projects .project-wrapper {
    display: table-cell;
}

.crew-3 .projects .project-wrapper:first-child + .project-wrapper {
    text-align: center;
}

.crew-3 .projects .project-wrapper:first-child + .project-wrapper + .project-wrapper {
    text-align: right;
}

.crew-3 .projects .project {
    width: 220px;
    display: inline-block;
    vertical-align: top;
}

.crew-3 .projects .photo-wrapper {
    width: 220px;
    height: 220px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ecf0f1;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.crew-3 .projects .photo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background: 50% 50% no-repeat;
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.crew-3 .projects .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: #fff;
    line-height: 220px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.crew-3 .projects .overlay [class*="fui-"] {
    font-size: 46px;
}

.crew-3 .projects .info {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    /*color: #95a5a6;*/
    color: #34495E;
    margin-top: 43px;
}

.crew-3 li {
    font-family: 'Vollkorn', serif;
    font-size: inherit;
    color: #2C3E50;
    line-height: 1.5em;
}

.crew-3 .projects .info b {
    color: #7f8c8d;
}

.crew-3 .projects .name {
    /*color: #34495e;*/
    /*CHANGED THINGS*/
    color: #22313F;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.crew-3 .projects .name a {
    color: #22313F;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.crew-3 .projects .title {
    /*color: #34495e;*/
    /*CHANGED THINGS*/
    color: #22313F;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.crew-3 .projects .project:hover .photo-wrapper {
    background-color: #1abc9c;
}

.crew-3 .projects .project:hover .photo {
    opacity: 40;
    filter: alpha(opacity=4000);
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.crew-3 .projects .project:hover .overlay {
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
}

.crew-3 .projects .project:hover .name {
    color: #1abc9c;
}

@media (max-width: 767px) {
    .crew-3 .projects {
        display: block;
        width: auto;
    }
    .crew-3 .projects .project-wrapper {
        display: block;
        text-align: center!important;
    }
    .crew-3 .projects .project-wrapper + .project-wrapper {
        margin-top: 85px;
    }
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}

#sidebar .nav {
    width: 95%;
}

#sidebar li {
    border: 0 #f2f2f2 solid;
    border-bottom-width: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 90%;
    font-variant: small-caps;
}


/* collapsed sidebar styles */

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        margin: 5px;
    }
    .row-offcanvas-right .sidebar-offcanvas {
        right: -41.6%;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -41.6%;
    }
    .row-offcanvas-right.active {
        right: 41.6%;
    }
    .row-offcanvas-left.active {
        left: 41.6%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 41.6%;
    }
    #sidebar {
        background-color: #3b3b3b;
        padding-top: 0;
        font-family: 'Raleway', sans-serif;
        font-variant: small-caps;
    }
    #sidebar .nav>li {
        color: #ddd;
        background: linear-gradient(#3E3E3E, #383838);
        border-top: 1px solid #484848;
        border-bottom: 1px solid #2E2E2E;
    }
    #sidebar .nav>li:first-child {
        border-top: 0;
    }
    #sidebar .nav>li>a {
        color: #ddd;
    }
    #sidebar .nav>li>a>img {
        max-width: 14px;
    }
    #sidebar .nav>li>a:hover,
    #sidebar .nav>li>a:focus {
        text-decoration: none;
        background: linear-gradient(#373737, #323232);
        color: #fff;
    }
    #sidebar .nav .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
    #sidebar .nav a:hover .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }
}

#disqus {
    color: #31465A;
}